.favorites_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: rgb(247, 245, 243);
  border-radius: 1em;
  width: 16.2em;
}

.favorites_card {
  margin: 0.6em;
}

.favorites_card:hover {
  cursor: pointer;
}

.favorite_pokemon_img {
  height: 12em;
  width: 16em;
  border-radius: 1em;
}

.image_not_available {
  height: 9em;
  width: 18em;
}

.favorite_title {
  font-size: 1.6em;
  font-weight: 800;
  margin-left: 0.4em;
}

.favorite_title_container {
  display: flex;
  flex-direction: row;
}

.favorite_icon svg {
  font-size: 1.8em;
  margin: 0.3em 0.3em 0.3em 7em;
  color: red;
}
