.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: rgb(247, 245, 243);
  border-radius: 1em;
  width: 16.2em;
}

.card {
  margin: 0.6em;
}

.cards_container {
  max-width: 100%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 1rem;
}

.pokemon_img {
  height: 12em;
  width: 16em;
  border-radius: 1em;
}

.image_not_available {
  height: 9em;
  width: 18em;
}

.title {
  font-size: 1.6em;
  font-weight: 800;
}
