.favorites_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: rgb(247, 245, 243);
  height: auto;
  width: 100%;
  display: block;
  position: relative;
}

.cards_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 64px;
  padding-right: 64px;
  display: grid;
  width: 100%;
}

.favorite_pokemon_img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 1em;
  display: block;
}

.image_not_available {
  height: 9em;
  width: 18em;
}

.favorite_title {
  font-size: 1.6em;
  font-weight: 800;
}

.favorite_icon {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.favorite_icon svg {
  font-size: 1.8em;
}

.fav_icon_clicked {
  color: red;
}

.no_favorites_message {
}
