.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: rgb(247, 245, 243);
  height: auto;
  width: 100%;
  display: block;
  position: relative;
}

.pokemon_img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 1em;
  display: block;
}

.image_container {
  width: 100%;
  overflow: hidden;
}

.image_not_available {
  height: 9em;
  width: 18em;
}

.title {
  font-size: 1.6em;
  font-weight: 800;
}

.pokemon_card_fav_icon {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.pokemon_card_fav_icon svg {
  font-size: 1.8em;
}

.pokemon_card_fav_icon_clicked {
  color: red;
}
