.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: rgb(247, 245, 243);
  height: auto;
  width: 100%;
  display: block;
  position: relative;
}

.cards_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 64px;
  padding-right: 64px;
  display: grid;
}

.pokemon_img {
  height: 30em;
  width: 30em;
  border-radius: 1em;
}

.image_not_available {
  height: 9em;
  width: 18em;
}

.title {
  font-size: 1.6em;
  font-weight: 800;
}
