.basket_item {
  display: flex;
  gap: 1.5rem;
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e2e2e5;
}

.cart_image_container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background-color: #f2f2f2;
}

.cart_details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons_container {
  border: solid 0.1em #e2e2e5;
  border-radius: 0.5em;
  width: 10em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plus,
.minus {
  padding: 1em;
  height: 4em;
  width: 15em;
  background-color: #e2e2e5;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50%;
}

.plus {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.minus {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.cart_quantity {
  color: #1f1f24;
  font-size: 20px;
  font-weight: 800;
  line-height: 2.7;
  height: 46px;
  width: 46px;
  padding: 0em 1em 0em 1em;
}

.cart_name {
  color: #1f1f24;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  margin-bottom: 4px;
  font-family: "Oswald", "HelveticaNeueBold", "Helvetica Neue",
    "TeXGyreHerosBold", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  text-transform: uppercase;
}

.buttons_quantity {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
  margin-top: auto;
}

.trash_fav {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.trash_fav svg {
  font-size: 2em;
  color: #000;
}

.buttons_container {
  display: flex;
  align-items: center;
}
