.evolution {
  margin-left: 1em;
  color: #fff;
}

.evolution_img,
.evolution_img_main {
  height: 4em;
  width: 4em;
  background-color: rgb(242, 242, 242);
  margin: 0.2em;
}

.evolution_img.active {
  outline: solid 0.1em rgb(2, 0, 0);
}

.evolution_images_container {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.evolution_count {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  margin-left: 1.4em;
}
