.evolution {
  margin-left: 1em;
  color: #fff;
}

.evolution_img {
  height: 4em;
  width: 4em;
  border: solid 0.1em white;
  border-radius: 0.2em;
  margin: 0.2em;
}

.evolution_images_container {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.evolution_count {
  color: #e70909;
  margin-left: 1em;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.6;
}
