.pokemon_container {
  max-width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: auto;
}

.pokemon_title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #1f1f24;
  text-overflow: ellipsis;
  font-size: 40px;
  font-style: normal;
  line-height: 160%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 0.4em;
}

.order_by_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
  margin-right: 3em;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.5em;

  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 160px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  z-index: 100;
}

.dropdown_item {
  padding: 0.6em 1em;
  cursor: pointer;
}

.dropdown_item:hover {
  background: #f3f3f3;
}

.load_more_container {
  text-align: center;
  margin: 0.3em;
}

.load_more {
  display: inline-flex;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  min-height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.6;
  padding: 9px 24px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
  color: white;
}

@media (min-width: 600px) {
  .pokemon_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .pokemon_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
