.pokemon_container {
  max-width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-top: 2em;
}

@media (min-width: 600px) {
  .pokemon_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .pokemon_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
