.cart_main_container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  align-items: flex-start;
}

.cart_items {
  flex: 0 0 70%;
}

.basket_summary {
  flex: 0 0 30%;
}
