.basket_title {
  color: #fff;
}

.basket_container {
  color: #fff;
}

.basket_header {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.no_items {
  text-align: center;
  margin: 50% auto;
  color: red;
}

.basket_quantity {
  justify-content: center;
  display: flex;
  flex-direction: row;
  border: solid white 0.2em;
  border-radius: 1em;
  width: 55%;
  padding: 0.2em;
  margin: 10% auto;
}

button {
  font-weight: 800;
  font-size: 1.4em;
  margin-right: 0.3em;
}

.trash,
.quantity_value {
  font-weight: 800;
  font-size: 1.8em;
  margin-right: 0.3em;
}

.quantity_title {
  font-weight: 800;
  font-size: 1.5em;
  margin-right: 0.4em;
  line-height: 1.3;
}

.order_details_product_name {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.6;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  color: #fff;
  display: flex;
  flex-direction: row;
}

.description,
.height,
.weight,
.happiness,
.experience,
.capture_rate,
.growth,
.habitat,
.types,
.color {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  margin-left: 1em;
  color: #fff;
}

.value {
  color: red;
}
