.img_one_top {
  grid-column: 1 / -1;
  height: 40em;
  width: 100%;
  object-fit: contain;
  background-color: #f2f2f2;
}

.img_two,
.img_three,
.img_four,
.img_five {
  height: 20em;
  width: 100%;
  object-fit: contain;
  background-color: #f2f2f2;
}

.images_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 0.3rem;
}

@media (max-width: 768px) {
  .images_container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .img_one_top {
    height: 30em;
  }
}
