.home {
  text-align: center;
  margin-top: 1em;
  font-weight: 800;
  font-size: 5em;
  color: rgb(3, 0, 0);
}

.welcome_img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
