body {
  margin: 0;
  padding-top: 100px !important;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-left: 1.3em;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1em 20px;
  box-sizing: border-box;

  background-color: #fff;
  border-bottom: 0.2em solid #000;
  z-index: 99999 !important;
}

.nav {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav_icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_icon {
  font-size: 22px;
  cursor: pointer;
}

.cart_icon_wrapper {
  position: relative;
}

.cart_badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: rgb(5, 0, 0);
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
