body {
  margin: 0;
  padding-top: 120px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: auto;
  padding: 0;
}

li {
  list-style: none;
  margin-left: 1.3em;
  font-weight: 800;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-family: "Oswald", sans-serif;
}

a:hover {
  color: #000;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 20px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
}

.nav {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav_icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_icon {
  font-size: 22px;
  cursor: pointer;
}

.cart_icon_wrapper {
  position: relative;
}

.cart_badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: rgb(5, 0, 0);
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.nav2 {
  width: 100%;
  min-height: 40px;
  background: #e80c00;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 16px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  display: flex;
  flex-direction: column;
}
