.favorites_container {
  max-width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: auto;
}

/* .favorites_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: rgb(247, 245, 243);
  height: auto;
  width: 100%;
  display: block;
  position: relative;
} */

.pokemon_favorite_title,
.no_favorites_message {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #1f1f24;
  text-overflow: ellipsis;
  font-size: 40px;
  font-style: normal;
  line-height: 160%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 0.4em;
  width: 100%;
}

.no_favorites_message {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #1f1f24;
  text-overflow: ellipsis;
  font-size: 40px;
  font-style: normal;
  line-height: 160%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 0.4em;
  text-align: center;
}
@media (min-width: 600px) {
  .favorites_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .favorites_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
