.name {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.6;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  color: #000;
  display: flex;
  flex-direction: row;
}

.name svg {
  margin-left: 10em;
}

.name svg:hover {
  cursor: pointer;
}

.description,
.height,
.weight,
.happiness,
.experience,
.capture_rate,
.growth,
.habitat,
.types,
.color,
.price {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  margin-left: 1em;
  color: #000;
  width: 20em;
}

.description p {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  margin: 0;
}

.add_to_basket_btn button {
  background-color: red;
  color: white;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0.4em;
  width: 10em;
}

.add_to_basket_btn {
  text-align: center;
  margin: 2em;
}

.favoriteIcon_clicked {
  color: red;
}

@media (max-width: 768px) {
  .description p {
    width: 170%;
  }

  .description,
  .height,
  .weight,
  .happiness,
  .experience,
  .capture_rate,
  .growth,
  .habitat,
  .types,
  .color,
  .price {
    width: 10em;
  }
}
