.principal_container {
  width: 100%;
  display: flex;
}

.container_left {
  width: 70%;
}

.img_one {
  width: 70%;
  text-align: center;
}

.sidebar_right {
  width: 30%;
}

@media (max-width: 768px) {
  .principal_container {
    display: block;
  }

  .img_one {
    height: 30em;
  }

  .container_left {
    width: 100%;
  }
}
